* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.wrapper {
    background-color: #ffffff;
    margin-left:auto;
    margin-right:auto;
    width: 1020px;
}

.navigation {
    padding: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: #ffffff;
    color: darkslateblue;
}

.navigation h1 {
    display: inline-block;
    font-size: 23pt;
}

.navigation nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.navigation nav ul {
    list-style-type: none;
}

.navigation nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: coral;
    text-decoration: none;
}

p {
    font-size: 16px;
}

#titleimage {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    object-fit: cover;
    object-position: center;
}

.content {
    display:flexbox;
    height: auto;
}

.about-me {
    margin-bottom: 20px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkslateblue;
    color: #ffffff;
}

.about-me h2 {
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}


.about-me p {
    padding-left: 20%;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.work {
    margin-bottom: 20px;
    padding: 50px;
    height: 750px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: coral;
    color: #ffffff;
}

.work h2 {
    font-family: 'Courier New', Courier, monospace;
    color: darkslateblue;
}

.worktitle {
    transition: .5s ease;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.worktitle div {
    transition: .5s ease;
    height: 200px;
    flex-grow: 1;
    padding-left: 20%;
}

.worktitle img {
    height: 200px;
    max-width:  70%;
    object-fit: cover;
    vertical-align: bottom;
}

.worktitle #work1 {
    display: block;
    height: 400px;
}

.worktitle #work1:hover {
    opacity: 50%;
}

.worktitle #work2:hover {
    opacity: 50%;
}

.worktitle #work3:hover {
    opacity: 50%;
}

.contact-me {
    margin-bottom: 20px;
    padding: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:darkslateblue;
    color: #ffffff;
}

.contact-me h2 {
    font-family: 'Courier New', Courier, monospace;
    color: coral;
}

.contact-me a {
    color: white;
    padding-left: 7%;
}

.footer {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}